/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'MinhaFonte2', sans-serif;
    display: flex;
    flex-direction: column;
    font-size: 17px;
}


/* Header 1 */
.header1 {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-content: center;
    font-size: 11px;
}

.header1 .project-info {
    display: flex;
    flex: 1; /* espaço entre os itens seja distribuído */
    justify-content: space-between;
    align-items: center;
}

.header1 .project-info h1 {
    margin-right: auto; /* joga os itens seguintes para a direita */
}

.header1 .social-icons {
    display: flex;
    align-items: center;
}
#datetime {
    position: absolute;       /* relógio de forma absoluta */
    left: 50%;                /* Centraliza horizontalmente em relação ao contêiner */
    transform: translateX(-50%); /* Ajusta a posição para garantir que esteja no centro */
    font-size: 14px; /* Ajuste o tamanho conforme necessário */
    font-family: 'Franklin Gothic', sans-serif; 
}


@font-face {
    font-family: 'MinhaFonte';
    src: url('font/PROMETHEUS.ttf')
    format('truetype');
}

@font-face {
    font-family: 'MinhaFonte2';
    src: url('font/Roboto-Regular.ttf');
    format('truetype');
}

@font-face {
    font-family: 'MinhaFonte3';
    src: url('font/Roboto-Black.ttf');
}

/* Header 2 */
.header2 {
    background-color: #333; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header2 nav ul {
    list-style: none;
    display: flex;
}

.header2 nav ul li {
    margin-right: 20px;
}

.header2 nav ul li a {
    color: #fff;
    text-decoration: none;
}

.header2 .search input {
    padding: 5px;
}

.H1 {
    font-family: 'MinhaFonte'; sans-serif;
    color: #fff;
}

/* Body */
main {
    display: flex;
    flex: 1; /* main ocupe o espaço disponível entre o header e o footer */
    background-color: #18122a; /* Garante que o fundo roxo continue */
}

/* Barra lateral */
.sidebar {
    background-color: #5b5670;
    width: 200px;
    height: 260px;
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    margin-right: 1px; /* Espaçamento à direita */
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0 0 0 1px #18122a; /* Adiciona uma borda fina na mesma cor do fundo */
    font-size: 15px;
}

.sidebar ul {
    list-style: none; /* Remove os marcadores de lista */
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 15px; /* Espaçamento entre os itens */
}

.sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
}

.sidebar p {
    margin-bottom: 9px;
    text-align: center;
    margin-right: 35px;
    font-size: 17px;
    color: #fff;
}

.main-content {
    flex: 1;
    background-color: #18122a;
    padding: 4px;
}

/* seção de boas-vindas */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #18122a; 
    padding: 40px 20px;
    color: white;
    text-align: center;
    margin: 20px auto;
    border-radius: 10px; /* Bordas arredondadas */
    max-width: 800px; /* Limite de largura */
}

.welcome-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 18px;
    margin-bottom: 30px;
}

.cta-button {
    background-color: #4a4a6a;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #7095a9; /* Cor ao passar o mouse */
}

.background img {
    width: 35%; /* Ajuste o valor para o tamanho desejado */
    max-width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Remove espaços adicionais em elementos inline */
    margin-right: 90px; /* Centraliza a imagem dentro do div */
    margin-left: -85px;
    margin-top: -890px;
    transform: rotate(-15deg);
    z-index: 1;
}

p {
    text-indent: 30px; /* Define o recuo para todos os parágrafos */
    font-size: 25px;
}


/* Content-box ajustada para expandir conforme o conteúdo */
.content-box {
    width: 50%; /* O container ocupará a largura total disponível */
    max-width: 100%; /* Define um limite máximo */
    max-height: 150%;
    background-color: #4a4a6a; /* Cor de fundo */
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 10px auto; /* Centraliza o container na página */
    color: white; /* Cor do texto */
    align-items: center;
    display: flex;
    text-align: justify; /* Justifica o texto */
    flex-direction: column; /* conteúdo seja empilhado verticalmente */
    border-radius: 10px; /* Bordas arredondadas */
    padding: 30px; /* espaçamento interno */
    height: 99%; /* a altura cresça conforme o conteúdo */
    z-index: 2;
}

.button {
    display: flex; /* Faz os botões se alinharem na horizontal */
    justify-content: space-around; /* Espaçamento igual entre os botões */
    margin-top: 20px; /* Espaçamento acima dos botões */
}

.btn {
    text-decoration: none; /* Remove o sublinhado do link */
    background-color: #18122a; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    border: none; /* Remove a borda padrão */
    padding: 10px 20px; /* Espaçamento interno */
    margin: 25px;
    display: inline-block; /* Respeita o tamanho do conteúdo */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave para a cor do botão */
}

.btn:hover {
    background-color: #4a4a6a; 
}

.btn:active {
    background-color: #004085; 
}

/* Remover o contorno de foco do link */
.btn:focus {
    outline: none; 
}

/* Estilo opcional para evitar mudança de cor após o clique */
.btn:visited {
    color: #fff; /* Mantém a cor do texto do botão após o clique */
}

.video {
    margin: 15px;
}



.exo_title {
    font-family: 'MinhaFonte3', sans-serif;
    padding: 5px;
    margin: 1px;
    margin-left: 0 auto;
    letter-spacing: 5px;
}

.ref {
    padding: 5px;
    margin: 1px;
    margin-left: auto;
}

.image {
    padding: 5px;
    margin: 5px;
    margin-left: 20px;
}

.image2 {
    padding: 5px;
    margin: 80px;
    margin-left: 0 auto;
    max-width: 100%;   
}

.text {
    padding: 1px;
    margin: auto;
    margin-left: auto;
    text-indent: 30px; /* Define o recuo para todos os parágrafos */
    font-size: 24px;
}


.responsive-img {
    width: 100%; /* Ajusta a largura da imagem ao contêiner */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 1500px; /* Define um tamanho máximo, se necessário */
    border-radius: 10px; /* bordas arredondadas */
    margin-left: -5px;
    margin-right: 15px;
    margin-top: 15px;
    align-items: center;

    
}

/* Ajuste na largura e responsividade do content-box */
.content-box {
    width: 80%; /* Aumenta a largura para telas maiores */
    max-width: 100%;
    background-color: #4a4a6a;
    margin: 20px auto; /* Centraliza o container */
    color: white;
    text-align: justify;
    border-radius: 10px;
    padding: 20px;
    height: auto; /* Deixa a altura flexível conforme o conteúdo */
}

.image2 img {
    width: 100%; /* Ajusta a imagem para ocupar a largura completa do content-box */
    height: auto; /* Mantém a proporção */
    border-radius: 10px; /* Adiciona bordas arredondadas à imagem */
    margin-top: 20px; /* Espaçamento entre o texto e a imagem */
}

/* Ajustes de responsividade para telas menores */
@media (max-width: 768px) {
    .content-box {
        width: 90%; /* Ajusta a largura do content-box para telas menores */
        padding: 15px;
    }

    .image2 img {
        width: 100%; /* Certifica-se de que a imagem se ajuste bem em telas menores */
    }

    .sidebar {
        width: 100%; /* A barra lateral ocupará a largura total em telas pequenas */
        margin-left: 0;
    }

    .background img {
        width: 100%; /* Ajusta a imagem de fundo para largura total em telas pequenas */
        margin-top: -350px; /* Ajusta o posicionamento da imagem de fundo */
        transform: rotate(-10deg);
    }
}


/* Para o corpo geral da página */
body {
    overflow-y: auto; /* Garante que a rolagem vertical funcione */
}

/* Rodapé */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
